<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDjllKRDkCA5ixiATWVCqE4klzxdeKW_pY",
    authDomain: "fttx1-fb8e4.firebaseapp.com",
    databaseURL: "https://fttx1-fb8e4.firebaseio.com",
    projectId: "fttx1-fb8e4",
    storageBucket: "fttx1-fb8e4.appspot.com",
    messagingSenderId: "863137814612",
    appId: "1:863137814612:web:d6dc7fde9e796a9f8ff5c1",
    measurementId: "G-5MSBW9J3QL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>


</body>
</html>